html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding-top: 1em;
}

.robot {
  width: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 38px;
}

.robot-body {
  width: 320px;
  display: block;
}


.robot-brain {
  width: 46px;
  position: absolute;
  left: 139px;
  top: 40px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  left: 40px;
  top: 0;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  right: 40px;
  top: 0;
}

.robot:hover .robot-head-left {
  left: 10px;
  top: 0;
}

.robot:hover .robot-head-right {
  right: 10px;
  top: 0;
}
